# ===========================
# Frontend
# ===========================
frontend/node_modules/
frontend/dist/

# ===========================
# Backend
# ===========================
backend/target/
*.class
*.jar

# ===========================
# IntelliJ
# ===========================
.idea/
*.iml

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment
# ===========================
.env

# ===========================
# OS Files
# ===========================
Thumbs.db
.DS_Store